body{
    background-color: #B91350;
    color: white;
}

.container1{
    background-color: white; 
}

.border_red{
    border: 1px solid #B91350;
}

.color_text{
    color: #B91350;
}

#passegero{
    text-transform:capitalize;
}

input{
    text-align: center;
}

button:hover{
    border-color: #E5944C;
    font-weight: bold;
}